:root {
    font-size: 12px;
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: aqua;
}

.calculator-container {
    display: flex;
    flex-direction: column;
    height: 800px;
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    border: 2px solid black;
    box-shadow: -11px 9px 2px -1px rgba(0,0,0,0.63);
    border-radius: 10px;
    background-color: gainsboro;
}

.calculator-screen {
    display: flex;
    flex: auto;
    justify-content: right;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    background-color: gray;
    border-radius: 12px;
}

.calculator-buttons-container {
    display: flex;
    flex: 1 0 auto;
    flex-direction: row;
    gap: 70px;
}

.calculator-buttons-numbers {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /*margin-top: 80px;*/
    margin-left: 30px;
    gap: 60px;
}

.calculator-buttons-numbers-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
}

.calculator-buttons-operations {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
}

.calculator-button {
    height: 80px;
    width: 100px;
    border-radius: 5px;
    font-size: 4rem;
    background-color: cornsilk;
}

.operator-button {
    background-color: lightblue;
}